<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Welp, I've got good news and bad news...</h1>
			</div>
			<div class="content-body">
				<p>
				This page doesn't really have anything good yet.<br> 
				So, yeah actually it's just bad news
				</p>

				<br>
				<div class="card-holder">
					<div class="card">
						<a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Adventures-of-Fellowmac-Part-1">
							<img src="assets/images/essie-thumbnail.png" class="thumbnail">
							<span class="title">The Adventures of Fellowmac Longlost</span>
						</a>
						<p>The closest thing we have to an actual story in these parts </p>
					</div>

					<div class="card">
						<a href="https://github.com/SkulkingScavenger/dark-starve/wiki/The-Roots-of-Evil-Prologue">
							<img src="assets/images/roots-of-evil-thumbnail.png" class="thumbnail">
							<span class="title"><div style="width:154px">Roots of Evil</div></span>
						</a>
						<p>In Soviet Russia, forest burns you!</p>
					</div>

					<div class="card">
						<a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Tale-of-the-Three-Bears">
							<img src="assets/images/three-bears-thumbnail.png" class="thumbnail">
							<span class="title">Goldilocks and the Three Bears</span>
						</a>
						<p>An old classic to bring back fond childhood memories</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/ncpq-icon.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Seven Prologues of Dr. Alladocius</span>
						</a>
						<p>
						<span style="font-size:14px">Coming Soon!</span><br>
						If I ever actually upload this you might be able to finally read about the good doctor and his esteemed companions. And maybe hell will freeze over. And maybe I'll start making money off this...</p>
					</div>


					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
