<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Welp, I've got good news and bad news...</h1>
			</div>
			<div class="content-body">
				<p>
				This page doesn't really have anything good yet.<br> 
				So, yeah actually it's just bad news
				</p>

				<br>

				<div class="card-holder">
					<div class="card-section-header hidden-when-big">
						<h3>Long Stories</h3>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Adventures-of-Fellowmac-Part-1"> -->
						<a>
							<img src="assets/images/thumbnails/tale-of-regulus-thumbnail.png" class="thumbnail">
							<span class="title">Quest for the Nine Candles</span>
						</a>
						<p>The longest adventure</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/gnawfinger-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Tale of Sir Regulus</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						A lorn wretch-knight descends into the depths on a hopeless quest for atonement. After his caravan is waylaid, his only chance of survival rests on the guidance of a mysterious gremlin hermit who, thankfully, has sworn off eating humans.</p>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Adventures-of-Fellowmac-Part-1"> -->
						<a>
							<img src="assets/images/thumbnails/essie-thumbnail.png" class="thumbnail">
							<span class="title">The Adventures of Fellowmac Longlost</span>
						</a>
						<p>He's not sure how he got here, but he really would like to get out now, please</p>
					</div>


					<div class="card">
						<a>
							<img src="assets/images/thumbnails/shiragazira-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Adventures of Rotfang and Kirith</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						She was a corpse-born horror of boundless greed<br>
						He was an accursed sorcerer knight who forsook humanity and sacrificed his brethren for dark knowledge<br><br>
						Together, they cause crime</p>
					</div>


					<div class="card">
						<a>
							<img src="assets/images/thumbnails/dominion-of-dregs-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Caravan Quest</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						Comissioned by an influential Mortician, a party of adventurers sets out from Grayhaven, led by the haunted navigator Shacklefoot. Though bound for Lanternvale, there seems to be some ambiguity about their route and the cargo of embalming spices are surprisingly heavy</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/tree-of-sorrows-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Tree of Sorrows</span>
						</a>
						<p>
						Sick of Rotfang calling him a comic relief character, Kirith gets serious about destroying Hearthfire</p>
					</div>
					
					
					<div class="card">
						<a>
							<img src="assets/images/thumbnails/kyrioth-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Barons of Irongate</span>
						</a>
						<p>
						<!-- In the desolate darklands north of Grayhaven, the haunted von Schwarzschild family has long stood vigil against the outer darkness, but with the death of Baron Otto, the future of the bloodline is bleak. -->
						Ancestral curses? In <i>my</i> bloodline?!<br><br>
						It's more likely than you think
						</p>
					</div>


					<div class="card-section-header hidden-when-big">
						<h3>Short Stories</h3>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Tale-of-the-Three-Bears"> -->
						<a>
							<img src="assets/images/thumbnails/three-bears-thumbnail.png" class="thumbnail">
							<span class="title">Goldilocks and the Three Beers</span>
						</a>
						<p>An old classic to bring back fond childhood memories</p>
					</div>



					<div class="card">
						<a>
							<img src="assets/images/thumbnails/seven-prologues.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Seven Prologues of Dr. Alladocius</span>
						</a>
						<p>
							<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
							Will the actual story ever begin?
						</p>
					</div>


					<div class="card">
						<a>
							<img src="assets/images/thumbnails/blood-of-the-lamb-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Blood of the Lamb</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						“Most people would rather die than be in my position, but I chose to live. That makes me an idiot right?”</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/mortimer-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Mortimer Goes to Hell</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						The stylish adventures of a time-travelling skeleton</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/the-gogohra-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Gogohra</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						A woman and her son live alone in an old house in the caves, the last survivors of a village that met an unspeakable fate. Though their life is bleak, they do not dare to leave for fear of the beast in the darkness. </p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/ncpq-icon.png" class="thumbnail">
							<span class="title" style="font-size:14px">Sadamon Dream Quest</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						Wandering lost in a bleak wasteland, confused at all that has happened, a traveler comes to the dwelling of a strange and solitary hermit</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/hangmans-hill-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">At the foot of the Gallows</span>
						</a>
						<p>
						Small sins are worse than great ones </p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/bloodlake-castle-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Oath of the Sable Dogma</span>
						</a>
						<p>
						Never answer a knock at the door after midnight</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/spiregard-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Tale of Sir Kirith</span>
						</a>
						<p>
						Terrified that his useless elder son will succeed him and ruin the family name, Sir Viregrim volunteers him as a monk of the silver fountain to ruin them instead</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/incandescent-core-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Rotfang's Quest</span>
						</a>
						<p>
						Why is she exiled? I'll let you use your imagination</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/vagabond-quest-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Vagabond Quest</span>
						</a>
						<p>
						A disinherited knight returns to his homeland to seek revenge</p>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/The-Roots-of-Evil-Prologue"> -->
						<a>
							<img src="assets/images/thumbnails/roots-of-evil-thumbnail.png" class="thumbnail">
							<span class="title"><div style="width:154px">Roots of Evil</div></span>
						</a>
						<p>In Soviet Russia, Tree chop you!</p>
					</div>

					<div class="card">
						<a href="https://docs.google.com/document/d/1OH3jMZtMHFzCi_JUKEw18dxgBkoyIfWPWj3V4BlnzWA/edit?usp=sharing">
							<img src="assets/images/thumbnails/the-shigarga-thumbnail.png" class="thumbnail">
							<span class="title"><div style="width:154px">The Tale of the Four Knights</div></span>
						</a>
						<p>Four knights set out to slay The Gritchilack. Sadness ensues</p>
					</div>


					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
