<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Welp, I've got good news and bad news...</h1>
			</div>
			<div class="content-body">
				<p>
				This page doesn't really have anything good yet.<br> 
				So, yeah actually it's just bad news
				</p>

				<br>
				<div class="card-holder">
					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Adventures-of-Fellowmac-Part-1"> -->
						<a>
							<img src="assets/images/thumbnails/essie-thumbnail.png" class="thumbnail">
							<span class="title">The Adventures of Fellowmac Longlost</span>
						</a>
						<p>He's not sure how he got here, but he really would like to get out now, please</p>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/The-Roots-of-Evil-Prologue"> -->
						<a>
							<img src="assets/images/thumbnails/roots-of-evil-thumbnail.png" class="thumbnail">
							<span class="title"><div style="width:154px">Roots of Evil</div></span>
						</a>
						<p>In Soviet Russia, Tree chop you!</p>
					</div>

					<div class="card">
						<!-- <a href="https://github.com/SkulkingScavenger/dark-starve/wiki/Tale-of-the-Three-Bears"> -->
						<a>
							<img src="assets/images/thumbnails/three-bears-thumbnail.png" class="thumbnail">
							<span class="title">Goldilocks and the Three Beers</span>
						</a>
						<p>An old classic to bring back fond childhood memories</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/seven-prologues.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Seven Prologues of Dr. Alladocius</span>
						</a>
						<p>
							<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
							Will the actual story ever begin?
						</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/kyrioth-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Barons of Irongate</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						In the desolate darklands north of Grayhaven, the haunted von Schwarzschild family has long stood vigil against the outer darkness, but with the death of Baron Otto, the future of the bloodline is bleak.</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/shiragazira-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Adventures of Rotfang and Kirith</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						She was a corpse-born horror of boundless greed<br>
						He was an accursed sorcerer knight who forsook humanity and sacrificed his brethren for dark knowledge<br><br>
						Together, they cause crime</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/tale-of-regulus-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Tale of Sir Regulus</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						A lorn wretch-knight descends into the depths on a hopeless quest for atonement. After his caravan is waylaid, his only chance of survival rests on the guidance of a mysterious gremlin hermit who, thankfully, has sworn off eating humans.</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/dominion-of-dregs-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Caravan Quest</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						Comissioned by an influential Mortician, a party of adventurers sets out from Grayhaven, led by the haunted navigator Shacklefoot. Though bound for Lanternvale, there seems to be some ambiguity about their route and the cargo of embalming spices are surprisingly heavy</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/blood-of-the-lamb-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Blood of the Lamb</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						“Most people would rather die than be in my position, but I chose to live. That makes me an idiot right?”</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/mortimer-thumbnail.png" class="thumbnail">
							<span class="title" style="font-size:14px">Mortimer the Magnificent</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						The stylish adventures of a time-travelling skeleton</p>
					</div>

					<div class="card">
						<a>
							<img src="assets/images/thumbnails/ncpq-icon.png" class="thumbnail">
							<span class="title" style="font-size:14px">The Gogohra</span>
						</a>
						<p>
						<!-- <span style="font-size:14px">Coming Soon!</span><br> -->
						A woman and her son live alone in an old house in the caves, the last survivors of a village that met an unspeakable fate. Though their life is bleak, they do not dare to leave for fear of the beast in the darkness. </p>
					</div>


					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
