<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Important concepts</h1>
			</div>
			<div class="content-body">
				<p>
				Read 'em and weep, buckos
				</p>

				<br>
				<div class="card-holder">
					<div class="card" *ngFor="let page of pages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.description}}</span>
						</a>
						<p>{{page.title}}</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
