<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Concepts</h1>
			</div>
			<div class="content-body">
				<p>
				Things are not always as they seem in this place. Or as one might expect. The ancient laws that have so long supported the world of the senses have weakened. In the deep places, reality itself has begun to decay. 
				<br><br>
				If you wish to unshackle yourself from the fading villages and their lifeless inhabitants, to journey long and alone in dark places, you must arm yourself with knowledge<br>
				For in the old dark, knowledge and cunning and a relentless will are more useful than iron and armies<br><br>
				And yet, you must never trust your knowledge too much. So much of falsehood hides behind a too-certain truth<br>
				And the greatest enemy of all will be your own mind

				</p>

				<br>
				<div class="card-holder">
					<div class="card" *ngFor="let page of pages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.description}}</span>
						</a>
						<p>{{page.title}}</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
