<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Oubliette Arcade</h1>
			</div>
			<div class="content-body">
				<p>
				Will you achieve the high score?!?!
				</p>

				<br>
				<div class="card-holder">
					<div class="card">
						<a  routerLink="../gravekeeper-quest">
							<img src="../../../assets/images/thumbnails/illumination-icon.png" class="thumbnail">
							<span class="title">Gravekeeper Quest</span>
						</a>
						<p>Sorry, that's all we have right now</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
