@import "src/assets/styles/common.scss";

.container{
	padding:0;
	.header{
		padding:20px 0px;
		display: flex;
		.title{
			font-size: 5vh;
			margin:auto;
		}
	}
	.main{
		width:100%;
		display: flex;	
		.comic-container{
			margin:auto;
		}
	}
	.footer{
		width:100%;
		display: flex;
		.button-holder{
			margin:auto;
			button{
				margin: 10px 12px;
				width: 110px;
				&.back-button{
					border-radius: 3px 3px 3px 20px;
				}
				&.next-button{
					border-radius: 3px 3px 20px 3px;
				}
			}
		}
		.button-holder-small{
			margin:auto;
			button {
				margin: 10px 6px;
				&.back-button, &.next-button{
					border-radius: 5px;
					width: 40px;
				}
			}
		}
	}
}