<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">AS IT WAS IN THE BEGINNING SO SHALL IT BE IN THE END</h1>
			</div>
			<div class="content-body">
				<p>
				When hope and fear have passed away, a memory will remain<br>
				When the last memory has been forgotten, there will be a true ending
				</p>

				<p>
				What was white shall run red<br>
				What had been called precious will be abandoned<br>
				What was sought will be found<br>
				And the finding of it will be a greater tragedy than the loss
				</p>

				<p>
				When the last betrayal has been revealed then will look to the vaults<br>
				Those who worshipped the flesh that rots will mourn it's loss
				And they will count the bones of the dead as their inheritance<br>
				</p>

				<p>
				When the Nine Candles have been lit the forsaken will walk upon the shattered stairs<br>
				In their blindness they will stumble and curse the light that looks not on the path<br>
				And those who reach the heights will weep at their misfortune
				</p>

		</div>
	</div>
</div>
