<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">
					<img src="assets/images/torch.gif" style="float:left; padding-right:40px">
					<span style="display: inline-block;margin-top:40px">Gravekeeper Quest</span>
					<img src="assets/images/torch.gif" style="float:right; padding-left:40px;">
				</h1>
			</div>
			<div class="content-body">
				The Gravekeeper has a quest for you!<br><br>
				<b>Important Features</b>
				<ul>
					<li>10 players max (make your friends buy the game if its too hard for you)</li>
					<li>dress up your person as a knight or peasant (your choice)</li>
					<li>dark side and lightside options (lightside is good, darkside is evil)</li>
					<li>starving</li>
					<li>hallucinations</li>
					<li>crafting</li>
					<li>houses</li>
					<li>horses</li>
					<li>ghosts</li>
					<li>open world</li>
					<li>goblins</li>
					<li>better than valheim (with a <i>real</i> combat system)</li>
				</ul>
				<br><br>
				<h3>Backstory</h3>
				<p>
					There's only one gravekeeper left and he has no idea how that happened
					<br><br>
					Somehow, it's your job to figure out the mystery (you're dead btw). but if you don't want to do that you can screw the guy over and just build a house or something and enjoy being a skeleton who rides horses, becaue this game is open world. You don't have to do things just because the NPC tells you to (its a free country. do whatever. uninstall the game and play poker, no one cares).
				</p>
				<h3>How to win</h3>
				<ul>
					<li>WASD to move, mouse to fight, space to jump. </li>
					<li>Cut trees for wood</li>
					<li>Break rocks for rocks</li>
					<li>Kill animals for meat</li>
					<li>Kill badguys or else</li>
					<li>Hide in your house when you're scared</li>
					<li>Fight every boss</li>
					<li>Watch the end credits</li>
					<li>Tell your friends to buy it</li>
				</ul>
				It's that easy
				<h3>Hints</h3>
				<ul>
					<li>To make the game harder and show how tough you are, never save. Delete your save file if you save accidentally. don't dodge any of the bosses attacks, just tank it like a man</li>
					<li>Turn on friendly fire if your friends make you mad</li>
				</ul>
			</div>
		</div>
	</div>
</div>
