<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">The True Wiki</h1>
			</div>
			<div class="content-body">
				<p>
				Choose your fate!<br><br> 
				I mean, a category to browse
				</p>

				<br>
				<div class="card-holder">
					<div class="card">
						<a routerLink="../category:characters">
							<img src="assets/images/thumbnails/alric-thumbnail.png" class="thumbnail">
							<span class="title">Characters</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:locations">
							<img src="assets/images/thumbnails/korhazar-thumbnail.png" class="thumbnail">
							<span class="title">Locations</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:mechanics">
							<img src="assets/images/thumbnails/ncpq-icon.png" class="thumbnail">
							<span class="title">Mechanics</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:races">
							<img src="assets/images/thumbnails/ghoul-thumbnail.png" class="thumbnail">
							<span class="title">Races</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:monsters">
							<img src="assets/images/thumbnails/the-rikkisnik-thumbnail.png" class="thumbnail">
							<span class="title">Monsters</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:resources">
							<img src="assets/images/thumbnails/zaramon-thumbnail.png" class="thumbnail">
							<span class="title">Resources</span>
						</a>
					</div>

					<div class="card">
						<a routerLink="../category:artifacts">
							<img src="assets/images/thumbnails/prisoner-thorn-thumbnail.png" class="thumbnail">
							<span class="title">Artifacts</span>
						</a>
					</div>


					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
