<div class="navbox">
	<table>
		<tbody>
			<tr class="navbox-header">
				<th colspan="3">
					<span class="collapsible-toggle" role="button">
						[
						<a *ngIf="isVisible" (click)="ToggleVisibility()" href="javascript:void(0)">hide</a>
						<a *ngIf="!isVisible" (click)="ToggleVisibility()" href="javascript:void(0)">expand</a>
						]
					</span>
					<div *ngIf="!mainCategory" class="navbox-title">{{data.title}}</div>
					<div *ngIf="mainCategory" class="navbox-title"><a routerLink="/{{mainCategory}}">{{data.title}}</a></div>
				</th>
			</tr>
			<tr *ngFor="let category of categories" class="category-row" [ngClass]="{hidden: !isVisible || category.items.length == 0}">
				<th *ngIf="categories.length > 1" class="navbox-group">
					<a *ngIf="category.url" routerLink="/wiki/category:{{category.url}}">{{category.title}}</a>
					<span *ngIf="!category.url">{{category.title}}</span>
				</th>
				<td>
					<div class="compact-title" [ngClass]="{hidden: categories.length <= 1}">
						<a routerLink="/wiki/category:{{category.url}}">{{category.title}}</a>
					</div>
					<ul>
						<li *ngFor="let item of category.items">
							<a routerLink="../{{item.url}}">{{item.title}}</a>
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>
