<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">It's that time of year again!</h1>
			</div>
			<div class="content-body">
				<p>
				That's right. Step right up and help yourself to whatever happens to strike your fancy. We've got... what, 3 pages? better than the sunday papers they had when I was a kid!
				</p>

				<br>
				<div class="card-holder">
					<div class="card">
						<a routerLink="../dominion-of-dregs">
							<img src="assets/images/dominion-of-dregs-thumbnail.png" class="thumbnail">
							<span class="title">Dominion of Dregs</span>
						</a>
						<p>A tale of some trashy monsters slapping each other around and failing at life</p>
					</div>

					<div class="card">
						<a routerLink="../ncpq">
							<img src="assets/images/candle-thumbnail.png" class="thumbnail">
							<span class="title">Nine Candles Prophecy Quest</span>
						</a>
						<p>Something actually worth reading for once. This one is never gonna be finished</p>
					</div>

					<div class="card">
						<a >
							<img src="assets/images/blood-of-the-lamb-thumbnail.png" class="thumbnail">
							<span class="title">Blood of the Lamb</span>
						</a>
						<p><span style="font-size:14px">Coming Soon!</span><br> (yeah right...)</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
