<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Oubliette Terrain</h1>
			</div>
			<div class="content-body">
				<p>
				For those who wander long within the labyrinthine <a routerLink="../../mechanics/the-shifting">ever-shifting</a> depths of the oubliette: navigators, candleseekers and exiles of all kinds... every passage and corridor holds a vital significance. Any resource, or lack thereof, may be the difference between life and death (such as it is)
				<br><br>
				There are, of course, the well-known landmarks, but there is often a need to speak generally of certain recurring features. This is particularly the case in regions where the oubliette is more temperamental and changes more quickly. 
				<br><br>
				Below are a few such features, common motifs upon the stygian landscape of the oubliette
				</p>

				<br>
				<div class="card-holder">
					<div class="card" *ngFor="let page of pages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.title}}</span>
						</a>
						<p>{{page.description}}</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>
