@import 'src/assets/styles/common';

.navigation-header-container {
	display: flex;
	width: 100%;
	.navigation-header {
		background-color: $dark-gray;
		width: 100%;
		.top-bar{
			height: 80px;
			.logo {
				padding-top: 2px;
				width: 250px;
				text-align: center;
				position: absolute;
				left: 50%;
				right: 50%;
				transform: translate(-50%, 0);
				img{
					width:160px;
					height:70px;
				}
			}
			::ng-deep .right-section {
				width: 250px;
				float: right;
				padding-top: 22px;
				.searchbar-container{
					float: right;
					margin-right: 20px;
				}
			}
		}
		&.small-screen {
			.top-bar {
				.logo {
					position: relative;
					margin-left: 0px;
					float: left;
					right: unset;
					left: unset;
					transform: none;
					h1{
						margin-bottom: 0px;
					}
				}
				
			}
		}
		&.tiny-screen {
			.top-bar {
				height: 100px;
				.logo {
					width: 100%;
					position: relative;
					margin-left: 0px;
					float: left;
					right: unset;
					left: unset;
					transform: none;
					h1{
						font-size: 28px;
						padding-top: 10px;
						margin-bottom: 0px;
					}
				}
				::ng-deep .right-section {
					padding-top: 10px;
					.searchbar-container{
						margin-right: 6px;
					}
				}
			}
		}
		
		.tab-holder{
			height: 47px;
			border-bottom: 2px solid $darker-gray;
			background-color: $darkest-gray;
			ul {
				margin: 0px;
				float: left;
				display: flex;
				flex-direction: row;
				align-items: center;
				list-style-position: inside;
				padding-left: 30px;
				li {
					float: left;
					display: inline-block;
					// height: 50px;
					list-style-type: none;
					// padding-top: 15px;
					&:first-child{
						a{
							
						}
					}
					a{
						// height: 50px;
						font-size: 11px;
						white-space: nowrap;
						padding-left: auto;
						padding-right: auto;
						&.active {
							&:focus{
								span{
									background-color: #000;
									color: $lightest-gray;
									font-weight: $font-bold;
									font-family: inherit;
									border: none;
								}
							}
							&:active {
								font-size: 11px;
								font-weight: $font-bold;
								span{
									color: $lighter-gray;
									padding: 16px 12px;
								}
							}
							span{
								background-color: #000;
							}
						}
						&:link{
							color: #fff;
							text-decoration-color: transparent;
						}
						&:visited{
							color: #fff;
							text-decoration-color: transparent;
						}
						&:hover span{
							background-color: #222;
						}
						&:focus{
							outline: none;
							span {
								background-color: #222;
							}
						}
						&:active{
							font-size: 12px;
							span{
								background-color: #000;
								color: $blood-red;
								font-weight: $font-medium;
								font-family: schreibmaschine;
								// border: 2px solid #222;
								padding-bottom: 13px;
								padding-top: 13px;
							}
						}
						span{
							font: sans;
							font-weight: $font-bold;
							padding: 16px 12px;
							border: none;
							cursor: pointer;
							background-color: #111;
							text-transform: uppercase;
							text-align: center;
							display: inline-block;
						}
					}
				}
			}
			.left-section{
				button.hamburger{
					width: 48px;
					height: 47px;
					border-radius: 0;
					background-color: $darkest-gray;
					outline: none;
					border: none;
					padding: 0 0 0 0;
					overflow: hidden;
					position: relative;

					// transition-duration: .4s;
					// transition-property: background-color, color, margin;
					// transition-timing-function: cubic-bezier(.25,.8,.25,1);
					cursor: pointer;
					&:hover{
						//background-color: $actually-darkest-gray;
						.icon-holder{
							svg{
								fill: $lighter-gray;
							}
						}
					}
					&:active{
						//background-color: $black;
						.icon-holder{
							svg{
								fill: $dark-gray;
							}
						}
					}
					.icon-holder{
						display: block;
						width: 24px;
						height: 24px;
						//margin-left: 12px;
						left: 12px;
						top: 12px;
						position: absolute;
						z-index: 3;
						svg{
							height: 24px;
							width: 24px;
							fill: $lightest-gray;
							transition-duration: .2s;
							transition-property: fill;
							transition-timing-function: cubic-bezier(.25,.8,.25,1);
						}
					}
					::ng-deep.ripple{
						background-color: rgba(0, 0, 0, 0.7);
					}
				}
			}
			.right-section{
				float: right;
				min-width: 200px;
				max-width: 250px;
			}
		}
	}
}

// navigation-sidebar{
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// }
