<div class="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">{{category.title}}</h1>
			</div>
			
			
			<div class="content-body">
				<div class="list-container">
					<ul *ngFor="let letter of letterList">
						<div class="letter">{{letter}}</div>
						<li *ngFor="let page of alphabeticalPageList[letter]">
							<a routerLink="../../{{page.category}}/{{page.url}}">{{page.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>