@import "src/assets/styles/common.scss";

.content-body{
	.list-container{
		column-count: 2; 
		column-gap: 28px;
		ul{
			break-inside: avoid-column;
			display: table;
			.letter{
				font-size: 28px;
				display: inline-block;
			}
			li{
				padding-bottom: 3px;
			}
		}
	}
}

@media (max-width: 500px){
	.content-body{
		.list-container{
			column-count: 1; 
			column-gap: 28px;
		}
	}
}