<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Whoa...</h1>
			</div>
			<div class="content-body">
				<p>
				Be afraid<br> Be very afraid<br> Or, just be kinda' afraid<br><br>
				It's actually a free country so you can be any kind of afraid you want, don't let me push you around<br><br>
				But, when you're making your decision, just take into account that there are some <b style="color:red">~monsters~</b> on this page

				</p>

				<br>
				<div class="card-holder">
					<div class="card-section-header">
						<h3>Monsters</h3>
					</div>

					<div class="card" *ngFor="let page of monsterPages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.title}}</span>
						</a>
						<p>{{page.description}}</p>
					</div>

					<div class="card-section-division"></div>
					<div style="clear:both"></div>

					<div class="card-section-header">
						<h3>Undead</h3>
					</div>

					<div class="card" *ngFor="let page of undeadPages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.title}}</span>
						</a>
						<p>{{page.description}}</p>
					</div>

					<div class="card-section-division"></div>
					<div style="clear:both"></div>

					<div class="card-section-header">
						<h3>Animals</h3>
					</div>

					<div class="card" *ngFor="let page of animalPages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.title}}</span>
						</a>
						<p>{{page.description}}</p>
					</div>

					<div class="card-section-division"></div>
					<div style="clear:both"></div>

					<div class="card-section-header">
						<h3>Primordials</h3>
					</div>

					<div class="card" *ngFor="let page of primordialPages">
						<a  routerLink="../{{page.url}}">
							<img src="assets/images/{{page.imagePath}}" class="thumbnail">
							<span class="title">{{page.title}}</span>
						</a>
						<p>{{page.description}}</p>
					</div>

					<div style="clear:both"></div>
				</div>
			</div>
		</div>
	</div>
</div>