<div class="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">{{data.title}}</h1>
			</div>	
		<div class="content-body">
			<table-of-contents [headers]="headers" *ngIf="showTableOfContents"></table-of-contents>
			<div *ngIf="data.content" class="page-content" [innerHTML]="data.content | noSanitize"></div>
		</div>
		<wiki-footer [data]="data" [allPages]="allPages" [allCategories]="allCategories"></wiki-footer>
	</div>
</div>
