<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">Resources</h1>
			</div>

			<div class="content-body">
				<p>
				Everybody loves resources!<br>
				The more you got, the better
				<br><br> At least, that's my opinion...
				</p>
				<br>

				<div class="page-content">
					<div class="subsection" *ngFor="let page of pages">
						<div class="subsection-header">
							<h3 class="subsection-title">{{page.title}}</h3>
						</div>
						<div class="subsection-body">
							<div [innerHTML]="page.content"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>