@import "src/assets/styles/common.scss";
@import "src/assets/styles/wiki.scss";


::ng-deep .page-content{
	.subsection{
		margin-bottom: 30px;
		.subsection-header{
			text-align: center;
			.subsection-title{
				font-size: 24px;
				margin-top: 10px;
			}
		}
	}
}

