<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">The Oubliette...</h1>
			</div>
			<div class="content-body">
				<div style="text-align:center">
					<p>
						...Is a hellish, lightless realm that sits below the realm of stars, collecting the dregs and refuse that sink below reality.<br> Everything forgotten, rejected and scorned, everything heavy and indissoluble at last finds its way here.<br> It is a place where dreams go to die
					</p>
					<p>
						It is a prison, and a tomb.<br> 
						A place to bury the things that are too painful, shameful, or dangerous to be allowed into the light.<br>
						A place of rot and ruin and the final despair that precedes oblivion.<br>
						Here are interred the great failures of the divine cantors, the evidence of their secret shames, their darkest crimes. The pit is filled with the carcasses of worlds, the remnants of their atrocities. It’s halls are filled with traitors, accomplices, and victims.<br> Everything that they wished to forget<br> ...and to be forgotten
					</p>
					<p>
						But even here in the outermost darkness, there are those who cling to life. When all light and hope are extinguished, when reality itself has rejected them, these forsaken wretches refuse to pass into the final darkness without a struggle. 
					</p>
					<p>
						It is for these that the prophecies were spoken.<br> In the depths, amid the dregs of life, amid the lost and forgotten, a seeker will find that which was not meant to be found.<br> For there is a light that does not fade, A flame that can not be smothered... <br>
						When the Nine Candles burn,<br>
						We will look upon the Sun
					</p>
				</div>
				<br><br>
				<div style="clear:both"></div>
				<img src="https://skulkingscavenger.github.io/dark-starve/gate-guardian.png" class="centered" height="300px" alt="gatekeeper">
				<h4 class="centered">So, you wanna be a darkstarve eh?</h4>
				<div>Well you come to the right place! we got all your needs right here... just put the cash in the box and we'll get started!</div>
				<br><br>

				<h3>Fun Things to Do</h3>
				NEW! See the incredible <a routerLink="./../comics/ncpq/001">NCPQ Title Page</a>!
				<br><br>
				page 3 of <a routerLink="./../comics/dominion-of-dregs/002">Dominion of Dregs</a> Released. Look at it!
				<br><br>
				<a href="https://skulkingscavenger.github.io/dark-starve/nightmare-core" class="text-secret">Witness the Unspeakable Evil</a><br>
			</div>



			<div class="content-footer"></div>
		</div>
	</div>
</div>