<div class="main" id="main">
	<div class="content-container">
		<div class="content">
			<div class="content-header">
				<h1 class="content-title">So you wanna be a darkstarve eh?</h1>
			</div>
			<div class="content-body">
				<img src="https://skulkingscavenger.github.io/dark-starve/gate-guardian.png" height="300px" alt="gatekeeper">
				<div>Well you come to the right place! we got all your needs right here, just put the cash in the box and we'll get started...</div>
				<br><br>

				<h3>Fun Things to Do</h3>
				NEW! See the incredible <a routerLink="./../comics/ncpq/000">NCPQ Storyboard</a> rough draft
				<br><br>
				page 3 of <a routerLink="./../comics/dominion-of-dregs/002">Dominion of Dregs</a> Released. Look at it.
				<br><br>
				<a href="https://skulkingscavenger.github.io/dark-starve/nightmare-core" class="text-secret">Witness the Unspeakable Evil</a><br>
			</div>
			<div class="content-footer"></div>
		</div>
	</div>
</div>