<div class="main" id="main">
	<div class="content-container">

		<div class="content">
			<div class="content-header">
				
				<h1 class="content-title">
					<img src="assets/images/torch.gif" style="float:left; padding-right:40px">
					<span style="display: inline-block;margin-top:40px">Nine Candles Prophecy</span>
					<img src="assets/images/torch.gif" style="float:right; padding-left:40px;"></h1>
				
			</div>
			<div class="content-body">
				<div style="text-align:center">
					<a routerLink="../wiki/disambiguation/darkroot">Test</a>
					<i>
					They say that there is no escape, that hope is vain,<br> 
					that we will not have rest until we have paid the debt we have accrued.<br> And one by one we will die in the dark, never to see the sun.<br>
					But even death will not bring repose<br><br>
					What of you, forsaken child of mud?<br> 
					Will you abandon the living and go beyond the withered light,<br>
					into the depths, among the wailing beasts and forgotten dead?<br>
					Will you go down into the darkness from which there can be no return?<br>
					The candles burn, the gate is open<br>
					The keepers wait<br>
					</i>
				</div>
				<br><br>
				<div style="clear:both"></div>
				<img src="https://skulkingscavenger.github.io/dark-starve/gate-guardian.png" class="centered" height="300px" alt="gatekeeper">
				<br>
				<h2 class="centered">The Oubliette...</h2>
				<div>
				is a lightless, hopeless pit, from which not even the dead can escape.<br><br>

				It is a realm of subterranean darkness, filled with the rotting carcasses of lost worlds and the ruins of kingdoms that have been swallowed up by an insidious corruption flowing from the corpse of a murdered god.<br>
				Its labyrinthine halls are filled with the wailing dead and the stealthy movements of horrible beasts who have fattened on the carcasses of worlds and civilizations. Reality itself rots within its depths and feverish nightmares spill out into the waking world.
				</div>
				<br><br>

				<!-- <h3>Fun Things to Do</h3>
				NEW! See the incredible <a routerLink="./../comics/ncpq/001">NCPQ Title Page</a>!
				<br><br>
				page 3 of <a routerLink="./../comics/dominion-of-dregs/002">Dominion of Dregs</a> Released. Look at it!
				<br><br>
				<a href="https://skulkingscavenger.github.io/dark-starve/nightmare-core" class="text-secret">Witness the Unspeakable Evil</a><br> -->
			</div>



			<div class="content-footer"></div>
		</div>
	</div>
</div>